<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Setup">
		<setting id="maxcount" label="2000" type="number" default="25"/>
		<setting id="recursive" label="2001" type="bool" default="false"/>
		<setting id="background" label="2002" type ="bool" default="false"/>
	</category>
</settings>
