<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Setup">
		<setting id="maxcount" label="2000" type="number" default="25"/>
		<setting id="mincount" label="2001" type="number" default="0"/>
		<setting id="background" type ="bool" label="2002" default="false"/>
	</category>
</settings>
